<footer>
  <div class="content-group">
    <div class="logo-section" data-aos="fade-up">
      <img src="assets/logo.png" alt="">
      <div class="social-media-icons">
        <a href="https://clouddevhub.blogspot.com/?m=1" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://clouddevhub.blogspot.com/?m=1" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://clouddevhub.blogspot.com/?m=1" target="_blank"><i class="fab fa-twitter-square"></i></a>
        <a href="https://clouddevhub.blogspot.com/?m=1" target="_blank"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
    <div class="divider"></div>
    <div class="links-section">
      <div class="link-group" data-aos="fade-up" data-aos-duration="300">
        <p class="heading">Emplore</p>
        <a href="" class="link"><i class="fas fa-circle"></i>Home</a>
        <a href="" class="link"><i class="fas fa-circle"></i>About</a>
        <a href="" class="link"><i class="fas fa-circle"></i>Services</a>
        <a href="" class="link"><i class="fas fa-circle"></i>Contact</a>
      </div>
      <div class="link-group" data-aos="fade-up" data-aos-duration="600">
        <p class="heading">Utility Pages</p>
        <a href="" class="link"><i class="fas fa-circle"></i>Style Guide</a>
        <a href="" class="link"><i class="fas fa-circle"></i>Changelog</a>
        <a href="" class="link"><i class="fas fa-circle"></i>Licenses</a>
        <a href="" class="link"><i class="fas fa-circle"></i>Protected</a>
        <a href="" class="link"><i class="fas fa-circle"></i>Not Found</a>
      </div>
      <div class="link-group col-span-2" data-aos="fade-up" data-aos-duration="900">
        <p class="heading">Address</p>
        <p class="link">1700 W Blanke St, Create Street, NewYork, USA.</p>
        <button class="book-btn">Book an Appointment</button>
      </div>
    </div>
  </div>
  <header class="info-section">
    <span class="info"><i class="far fa-clock"></i> Monday - Friday 8AM - 9PM</span>
    <span class="info"><i class="fas fa-map-marker-alt"></i> 725 Park Ave, New York</span>

    <div class="social-media-icons">
      <a href="https://clouddevhub.blogspot.com/?m=1" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://clouddevhub.blogspot.com/?m=1" target="_blank"><i class="fab fa-facebook"></i></a>
      <a href="https://clouddevhub.blogspot.com/?m=1" target="_blank"><i class="fab fa-twitter-square"></i></a>
      <a href="https://clouddevhub.blogspot.com/?m=1" target="_blank"><i class="fab fa-linkedin"></i></a>
    </div>
  </header>
  <div class="copyright-bar">
    Copyright ©  AskExperts | Designed by Smit Hirpara - Powered by GBASE.
  </div>
</footer>
