<!--
This work is dedicated to the public domain under CC0 1.0 Universal (CC0 1.0) Public Domain Dedication.
You are free to copy, modify, distribute, and use this work for any purpose, without asking permission.
To view a copy of this dedication, visit http://creativecommons.org/publicdomain/zero/1.0/
-->

<!--
Design inspired by askexperts-template.webflow.io.
-->

<section class="header">
  <div class="info-card" data-aos="fade">
    <span class="badge">About Us</span>
    <p class="heading">We provide Reliable Business ideas.</p>
  </div>
</section>

<section class="about-section">
  <div class="left-section" data-aos="fade-up" data-aos-duration="1000">
    <span class="badge">Our Vision</span>
    <p class="header-title">Turn your ideas into reality.</p>
    <p class="description">We focus on presentation content and strategy that are guaranteed to move the audience to
      action, We help in improving style.</p>
    <p class="description"><i class="far fa-check-circle"></i>Companies bring in consultants when they have problems
      they can’t solve on their brings a
      unique challenge.</p>
    <p class="description"><i class="far fa-check-circle"></i>Consultants rarely have the luxury of partnering with
      businesses when everything is going
      well.</p>
  </div>

  <div class="right-section" data-aos="zoom-in-up">
    <div class="img-section">
      <img src="assets/business.jpg" alt="img">
    </div>
  </div>
</section>

<section class="about-work-group">
  <div class="about-work-card" data-aos="zoom-in">
    <p class="count">9128+</p>
    <p class="text">Successful Work</p>
  </div>
  <div class="about-work-card" data-aos="zoom-in">
    <p class="count">908+</p>
    <p class="text">Team member</p>
  </div>
  <div class="about-work-card" data-aos="zoom-in">
    <p class="count">258+</p>
    <p class="text">Happy Customers</p>
  </div>
  <div class="about-work-card" data-aos="zoom-in">
    <p class="count">564+</p>
    <p class="text">Creative Idea</p>
  </div>
</section>

<section class="growing-section">
  <div class="top-section" data-aos="fade-up">
    <div class="info">
      <span class="badge">Growing with our Clients</span>
      <p class="heading">Our core values & principles</p>
      <p class="description">Passionate about delivering growth and the new possibilities it creates for our people,
        customers and business.</p>
    </div>
    <button class="button">Get in touch</button>
  </div>

  <div class="cards-group">
    <div class="cards" data-aos="fade-up">
      <i class="fas fa-layer-group"></i>
      <p class="heading">Creative Ideas</p>
      <p class="description">Business consultant, first of all, ability to understand business.</p>
      <a href="" class="read-more">Read More <i class="fas fa-arrow-right"></i></a>
    </div>
    <div class="cards" data-aos="fade-up">
      <i class="fas fa-chart-bar"></i>
      <p class="heading">Best Features</p>
      <p class="description">Increase social reach and productivity with our App Directory, a collection.</p>
      <a href="" class="read-more">Read More <i class="fas fa-arrow-right"></i></a>
    </div>
    <div class="cards" data-aos="fade-up">
      <i class="fas fa-globe-americas"></i>
      <p class="heading">Experience</p>
      <p class="description">Operational change inside of workflows to a framework with features.</p>
      <a href="" class="read-more">Read More <i class="fas fa-arrow-right"></i></a>
    </div>
    <div class="cards" data-aos="fade-up">
      <i class="fas fa-cog"></i>
      <p class="heading">Easy Solutions</p>
      <p class="description">We encourage every team member to be a whole person. We have a flexible.</p>
      <a href="" class="read-more">Read More <i class="fas fa-arrow-right"></i></a>
    </div>
  </div>
</section>

<section class="video-section">
  <div class="badge" data-aos="fade-up">Our History</div>
  <p class="heading" data-aos="fade-up">Better Business Website Means A Perfect User Experience</p>
  <p class="description">We help brands be a part of this new era of change, where consumers become co-creators of the brand, the medium, and the message.</p>

  <div class="history-card" data-aos="fade-up">
    <iframe src="https://www.youtube.com/embed/OFzzvJ4OFYk" class="frame"></iframe>
  </div>
</section>

<section class="team-section">
  <div class="top-section" data-aos="fade-up">
    <div class="info">
      <p class="heading">Meet Our Great Team</p>
      <p class="description">Be part of consultalk. Our peoples are fully qualified with marketing, Strategy, idea, involvement and problem-solving capability.</p>
    </div>
    <button class="button">Join our team</button>
  </div>

  <div class="member-cards-grop">
    @for (item of [1,2,3]; track $index) {
      <div class="member-card" data-aos="fade-up">
        <div class="img">
          <img src="assets/user-img.webp" alt="">
          <span class="badge">CEO at Company</span>
        </div>
        <p class="name">Bhikha Bhai</p>
        <p class="description">The CEO and the regional leader for askexperts consulting agency.</p>
        <div class="media">
          <i class="fab fa-instagram"></i>
          <i class="fab fa-facebook"></i>
          <i class="fab fa-twitter"></i>
        </div>
      </div>
    }
  </div>
</section>

<section class="booking-section">
  <div class="booking-card">
    <div class="left-section" data-aos="fade">
      <span class="badge">Book Now</span>
      <p class="heading">Better Consult, Better Results</p>
      <p class="description">We help global leaders with their organization's most critical issues and opportunities.
        Together, we create enduring change and results in digital format.</p>
      <button class="call-btn"><i class="fas fa-phone-alt"></i>+91 9191346477</button>
    </div>

    <div class="right-section" data-aos="fade">
      <img
        src="https://cdn.prod.website-files.com/639ab26094443c36ccff5aa8/639c1076aec4fd2801f2c6b3_Book%20Now-Image.jpg"
        class="image" alt="">
    </div>
  </div>
</section>
