<!--
This work is dedicated to the public domain under CC0 1.0 Universal (CC0 1.0) Public Domain Dedication.
You are free to copy, modify, distribute, and use this work for any purpose, without asking permission.
To view a copy of this dedication, visit http://creativecommons.org/publicdomain/zero/1.0/
-->

<!--
Design inspired by askexperts-template.webflow.io.
-->

<section class="header">
  <div class="info-card" data-aos="fade">
    <span class="badge">Services</span>
    <p class="heading">Digital Services For Boost Your Business Growth</p>
  </div>
</section>

<section class="services-section">
  <div class="service-badge" data-aos="fade-up">Services</div>
  <p class="heading" data-aos="fade-up">Get Control Over Your Business & take your finance to next level</p>

  <div class="services-cards-group" data-aos="fade-up">
    <div class="service-card">
      <span class="icon">
        <i class="fas fa-chart-pie"></i>
      </span>
      <a href="https://clouddevhub.blogspot.com/2023/06/introduction-of-javascript.html?m=1" target="_blank">Audit &
        Evaluation</a>
      <p class="description">Podcasting operational change inside management of workflows to establish is the Taking
        seamless keys.</p>
    </div>
    <div class="service-card">
      <span class="icon">
        <i class="fas fa-chart-bar"></i>
      </span>
      <a href="https://clouddevhub.blogspot.com/2023/06/best-animated-css-backgrounds-generator.html?m=1"
        target="_blank">Financial Projections</a>
      <p class="description">Efficiently enable to effective products completely management the cost information ethical
        communities.</p>
    </div>
    <div class="service-card">
      <span class="icon">
        <i class="fas fa-money-bill"></i>
      </span>
      <a href="https://clouddevhub.blogspot.com/2023/06/angular-file-folder-structure.html?m=1" target="_blank">Funds
        and investments</a>
      <p class="description">Uniquely matrix economically value are through cooperative technology competently parallel
        task’s fully.</p>
    </div>

    <div class="service-card">
      <span class="icon">
        <i class="fas fa-coins"></i>
      </span>
      <a href="https://clouddevhub.blogspot.com/2023/06/introduction-of-javascript.html?m=1" target="_blank">Finance &
        Restructuring</a>
      <p class="description">Objectively innovate empowered with the manufactured products whereas parallel platforms.
      </p>
    </div>
    <div class="service-card">
      <span class="icon">
        <i class="far fa-credit-card"></i>
      </span>
      <a href="https://clouddevhub.blogspot.com/2023/06/best-animated-css-backgrounds-generator.html?m=1"
        target="_blank">Taxes & Efficiency</a>
      <p class="description">We help our clients grow their business by understanding what matters most to their
        customers understanding.</p>
    </div>
    <div class="service-card">
      <span class="icon">
        <i class="fas fa-university"></i>
      </span>
      <a href="https://clouddevhub.blogspot.com/2023/06/angular-file-folder-structure.html?m=1"
        target="_blank">Investment banking</a>
      <p class="description">Trust, support and develop each other to achieve excellent results and Manage our
        operations profitable manner.</p>
    </div>
  </div>
</section>

<section class="process-section">
  <div class="left-section" data-aos="zoom-in-up">
    <div class="img-section">
      <img src="assets/business.jpg" alt="img">
    </div>
  </div>

  <div class="right-section" data-aos="fade-up" data-aos-duration="1000">
    <span class="badge">Process</span>
    <p class="header-title">Our Consulting Service Development</p>
    <div class="card-group">
      <div class="info-card">
        <i class="fas fa-wallet"></i>
        <div class="service-info">
          <p class="heading">Banking and Finance</p>
          <p class="description">We help our clients grow their business by understanding Our products and solutions provide a deep understanding with future behavior.</p>
        </div>
      </div>
      <div class="info-card">
        <i class="fas fa-cog"></i>
        <div class="service-info">
          <p class="heading">Logistic and Transportation</p>
          <p class="description">This is passionate about delivering growth and the new possibilities it creates for our people, customers and business.</p>
        </div>
      </div>
      <div class="info-card">
        <i class="fas fa-chart-line"></i>
        <div class="service-info">
          <p class="heading">Trading</p>
          <p class="description">We focus on presentation content and strategy that are guaranteed to move the audience to action, We help in improving style.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="reach-up-section">
  <div class="left-section" data-aos="fade" data-aos-duration="1000">
    <span class="badge">Reach us</span>
    <p class="heading">Contact Us. It’s Easy.</p>
    <p class="description">To experience our extraordinary consulting service, We request you to provide the details
      below for getting in touch with you as soon.</p>

    <div class="contact-group">
      <div class="contact-card">
        <i class="fas fa-phone-alt"></i>
        <span class="info">
          <p class="title">Call Today</p>
          <p class="item">+ 91 7027462255</p>
        </span>
      </div>
      <div class="contact-card">
        <i class="far fa-clock"></i>
        <span class="info">
          <p class="title">Monday To Friday</p>
          <p class="item">9AM - 5PM</p>
        </span>
      </div>
      <div class="contact-card">
        <i class="fas fa-map-marker-alt"></i>
        <span class="info">
          <p class="title">USA Office</p>
          <p class="item">195 Devonshire St Boston, MA 02110</p>
        </span>
      </div>
    </div>
  </div>
  <div class="right-section" data-aos="fade" data-aos-duration="1000">
    <div class="input-group">
      <span class="label">Full Name</span>
      <input type="text" placeholder="kevin Luison">
    </div>
    <div class="input-group">
      <span class="label">Email</span>
      <input type="text" placeholder="kevin@gmail.com">
    </div>
    <div class="input-group">
      <span class="label">Phone</span>
      <input type="text" placeholder="+91 12304 56789">
    </div>
    <div class="input-group">
      <span class="label">Company(optional)</span>
      <input type="text" placeholder="uourcompany.com">
    </div>
    <div class="input-group col-span-2">
      <span class="label">Message</span>
      <textarea class="large-input"
        placeholder="Briefly tell us about your project and your current goals. How can we help you?"></textarea>
    </div>

    <button class="send-btn">Send Message</button>
  </div>
</section>
