<!--
This work is dedicated to the public domain under CC0 1.0 Universal (CC0 1.0) Public Domain Dedication.
You are free to copy, modify, distribute, and use this work for any purpose, without asking permission.
To view a copy of this dedication, visit http://creativecommons.org/publicdomain/zero/1.0/
-->

<!--
Design inspired by askexperts-template.webflow.io.
-->
<section class="header">
  <div class="info-card" data-aos="fade">
    <p class="heading">Best way to Digitize your Business</p>
    <p class="description">This is passionate about delivering growth and the new possibilities it creates for our
      people, customers and business.</p>

    <div class="button-group">
      <button class="our-service-btn">Our Services</button>
      <button class="book-metting-btn"><i class="far fa-calendar-alt"></i> Book a Metting</button>
    </div>
  </div>
</section>

<div class="brand-group">
  <img src="https://cdn.prod.website-files.com/639ab26094443c36ccff5aa8/639b05c8719574900ff69a29_Client-01.svg"
    class="brand-img" alt="Client Brand Image" data-aos="zoom-in">
  <img src="https://cdn.prod.website-files.com/639ab26094443c36ccff5aa8/639b05c786e0b1c099dc8b64_Client-02.svg"
    class="brand-img" alt="Client Brand Image" data-aos="zoom-in">
  <img src="https://cdn.prod.website-files.com/639ab26094443c36ccff5aa8/639b05c8d2f46e6757feae23_Client-03.svg"
    class="brand-img" alt="Client Brand Image" data-aos="zoom-in">
  <img src="https://cdn.prod.website-files.com/639ab26094443c36ccff5aa8/639b05c8e1266c0ebe221e10_Client-04.svg"
    class="brand-img" alt="Client Brand Image" data-aos="zoom-in">
  <img src="https://cdn.prod.website-files.com/639ab26094443c36ccff5aa8/639b05c80c5a453263b84e01_Client-05.svg"
    class="brand-img" alt="Client Brand Image" data-aos="zoom-in">
  <img src="https://cdn.prod.website-files.com/639ab26094443c36ccff5aa8/639b05c895df23c99465a3ef_Client-06.svg"
    class="brand-img" alt="Client Brand Image" data-aos="zoom-in">
</div>

<section class="about-section">
  <div class="left-section" data-aos="fade-up" data-aos-duration="1000">
    <span class="badge">About us</span>
    <p class="header-title">Know our Consulting Agency Team</p>
    <p class="header-description">We create experiences and build products that make business grow</p>
    <p class="description">We focus on presentation content and strategy that are guaranteed to move the audience to
      action, We help in improving style.
    </p>
    <div class="card-group">
      <div class="info-card">
        <p class="service-info"><i class="fas fa-star"></i> 400+</p>
        <p class="service-name">Business Services</p>
      </div>
      <div class="divider"></div>
      <div class="info-card">
        <p class="service-info"><i class="fas fa-smile emoji"></i> 1000+</p>
        <p class="service-name">Happy Customer</p>
      </div>
    </div>
  </div>

  <div class="right-section" data-aos="zoom-in-up">
    <div class="img-section">
      <img src="assets/business.jpg" alt="img">

      <div class="info-card">
        <div class="counter">50+ <span class="border-animation"></span></div>
        <p class="info">Market Expertisers</p>
      </div>
    </div>
  </div>
</section>

<section class="services-section">
  <div class="service-badge" data-aos="fade-up">Services</div>
  <p class="heading" data-aos="fade-up">Get Control Over Your Business & take your finance to next level</p>

  <div class="services-cards-group" data-aos="fade-up">
    <div class="service-card">
      <span class="icon">
        <i class="fas fa-chart-pie"></i>
      </span>
      <a href="https://clouddevhub.blogspot.com/2023/06/introduction-of-javascript.html?m=1" target="_blank">Audit &
        Evaluation</a>
      <p class="description">Podcasting operational change inside management of workflows to establish is the Taking
        seamless keys.</p>
    </div>
    <div class="service-card">
      <span class="icon">
        <i class="fas fa-chart-bar"></i>
      </span>
      <a href="https://clouddevhub.blogspot.com/2023/06/best-animated-css-backgrounds-generator.html?m=1"
        target="_blank">Financial Projections</a>
      <p class="description">Efficiently enable to effective products completely management the cost information ethical
        communities.</p>
    </div>
    <div class="service-card">
      <span class="icon">
        <i class="fas fa-money-bill"></i>
      </span>
      <a href="https://clouddevhub.blogspot.com/2023/06/angular-file-folder-structure.html?m=1" target="_blank">Funds
        and investments</a>
      <p class="description">Uniquely matrix economically value are through cooperative technology competently parallel
        task’s fully.</p>
    </div>

    <div class="service-card">
      <span class="icon">
        <i class="fas fa-coins"></i>
      </span>
      <a href="https://clouddevhub.blogspot.com/2023/06/introduction-of-javascript.html?m=1" target="_blank">Finance &
        Restructuring</a>
      <p class="description">Objectively innovate empowered with the manufactured products whereas parallel platforms.
      </p>
    </div>
    <div class="service-card">
      <span class="icon">
        <i class="far fa-credit-card"></i>
      </span>
      <a href="https://clouddevhub.blogspot.com/2023/06/best-animated-css-backgrounds-generator.html?m=1"
        target="_blank">Taxes & Efficiency</a>
      <p class="description">We help our clients grow their business by understanding what matters most to their
        customers understanding.</p>
    </div>
    <div class="service-card">
      <span class="icon">
        <i class="fas fa-university"></i>
      </span>
      <a href="https://clouddevhub.blogspot.com/2023/06/angular-file-folder-structure.html?m=1"
        target="_blank">Investment banking</a>
      <p class="description">Trust, support and develop each other to achieve excellent results and Manage our
        operations profitable manner.</p>
    </div>
  </div>
</section>

<section class="guid-section">
  <div class="left-section">
    <span class="badge" data-aos="fade-up">Features</span>
    <p class="heading" data-aos="fade-up">Helping you To convey your idea effectively.</p>
    <p class="description" data-aos="fade-up">We help our clients grow their business by understanding Our products and
      solutions provide a
      deep understanding drives future behavior of your customers.</p>

    <div class="process-group">
      <div class="process-card" data-aos="fade-up">
        <span class="counter">1</span>
        <div class="info">
          <p class="heading">Setup Account</p>
          <p class="description">We understand the importance of approaching each work integrally.</p>
        </div>
      </div>
      <div class="process-card" data-aos="fade-up">
        <span class="counter">2</span>
        <div class="info">
          <p class="heading">Consult with us</p>
          <p class="description">Increase social reach and productivity with our App Directory, a collection.</p>
        </div>
      </div>
      <div class="process-card" data-aos="fade-up">
        <span class="counter">3</span>
        <div class="info">
          <p class="heading">Payment & Boost</p>
          <p class="description">We encourage every team member to be a whole person. We have a flexible.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="right-section">
    <span class="badge" data-aos="fade-up">Growing with our clients</span>
    <p class="heading" data-aos="fade-up">3 Decades of Experience</p>
    <p class="description" data-aos="fade-up">Capitalize on low hanging fruit to identify a ballpark value added
      activity beta test.
      Override the digital divide with additional from DevOps.</p>
    <p class="description" data-aos="fade-up">Leverage agile frameworks to provide a robust synopsis for high level
      overviews. Iterative
      approaches to corporate strategy foster collaborative thinking to further the overall value proposition.</p>

    <div class="experience-group">
      <div class="experience-card" data-aos="fade-up">
        <i class="fas fa-hourglass"></i>
        <p class="heading">Consistency</p>
        <p class="description">Business consultant, first of all, ability to understand business.</p>
      </div>
      <div class="experience-card" data-aos="fade-up">
        <i class="fas fa-chart-bar"></i>
        <p class="heading">Improvement</p>
        <p class="description">Operational change inside of workflows to a framework.</p>
      </div>
      <div class="experience-card" data-aos="fade-up">
        <i class="fas fa-chart-bar"></i>
        <p class="heading">Branching</p>
        <p class="description">Taking seamless key perform on the offline to maximize tail.</p>
      </div>
      <div class="experience-card" data-aos="fade-up">
        <i class="fas fa-chart-area"></i>
        <p class="heading">Company Growth</p>
        <p class="description">Keeping your eye on the ball perform a deep dive on start-up.</p>
      </div>
    </div>
  </div>
</section>


<section class="projects-section">
  <div class="top-section" data-aos="fade-up">
    <div class="info">
      <span class="badge">projects</span>
      <p class="heading">Start Growing Your Startup With Today. Way to solve new problems.</p>
    </div>
    <button class="button">More Projects</button>
  </div>

  <div class="card-group">
    <div class="service-card" data-aos="fade-up">
      <img src="assets/service-img1.png" alt="img">
      <div class="info-section">
        <a class="link" target="_blank"
          href="https://clouddevhub.blogspot.com/2023/06/introduction-of-javascript.html?m=1">Taxes & Efficiency</a>
        <a class="sub-link" target="_blank"
          href="https://clouddevhub.blogspot.com/2023/06/introduction-of-javascript.html?m=1">Financial</a>
        <button class="add-btn"><i class="fas fa-plus"></i></button>
      </div>
    </div>
    <div class="service-card" data-aos="fade-up">
      <img src="assets/service-img2.png" alt="img">
      <div class="info-section">
        <a class="link" target="_blank"
          href="https://clouddevhub.blogspot.com/2023/06/introduction-of-javascript.html?m=1">Travel and Aviation</a>
        <a class="sub-link" target="_blank"
          href="https://clouddevhub.blogspot.com/2023/06/introduction-of-javascript.html?m=1">Managing</a>
        <button class="add-btn"><i class="fas fa-plus"></i></button>
      </div>
    </div>
    <div class="service-card" data-aos="fade-up">
      <img src="assets/service-img3.png" alt="img">
      <div class="info-section">
        <a class="link" target="_blank"
          href="https://clouddevhub.blogspot.com/2023/06/introduction-of-javascript.html?m=1">Business Services</a>
        <a class="sub-link" target="_blank"
          href="https://clouddevhub.blogspot.com/2023/06/introduction-of-javascript.html?m=1">Marketing</a>
        <button class="add-btn"><i class="fas fa-plus"></i></button>
      </div>
    </div>
    <div class="service-card" data-aos="fade-up">
      <img src="assets/service-img5.png" alt="img">
      <div class="info-section">
        <a class="link" target="_blank"
          href="https://clouddevhub.blogspot.com/2023/06/introduction-of-javascript.html?m=1">Consumer Products</a>
        <a class="sub-link" target="_blank"
          href="https://clouddevhub.blogspot.com/2023/06/introduction-of-javascript.html?m=1">Business</a>
        <button class="add-btn"><i class="fas fa-plus"></i></button>
      </div>
    </div>
    <div class="service-card" data-aos="fade-up">
      <img src="assets/service-img4.png" alt="img">
      <div class="info-section">
        <a class="link" target="_blank"
          href="https://clouddevhub.blogspot.com/2023/06/introduction-of-javascript.html?m=1">Financial Services</a>
        <a class="sub-link" target="_blank"
          href="https://clouddevhub.blogspot.com/2023/06/introduction-of-javascript.html?m=1">Managing</a>
        <button class="add-btn"><i class="fas fa-plus"></i></button>
      </div>
    </div>
    <div class="service-card" data-aos="fade-up">
      <img src="assets/service-img6.png" alt="img">
      <div class="info-section">
        <a class="link" target="_blank"
          href="https://clouddevhub.blogspot.com/2023/06/introduction-of-javascript.html?m=1">Energy and Environment</a>
        <a class="sub-link" target="_blank"
          href="https://clouddevhub.blogspot.com/2023/06/introduction-of-javascript.html?m=1">Financial</a>
        <button class="add-btn"><i class="fas fa-plus"></i></button>
      </div>
    </div>
  </div>

  <div class="about-work-group">
    <div class="about-work-card" data-aos="zoom-in">
      <p class="count">9128+</p>
      <p class="text">Successful Work</p>
    </div>
    <div class="about-work-card" data-aos="zoom-in">
      <p class="count">908+</p>
      <p class="text">Team member</p>
    </div>
    <div class="about-work-card" data-aos="zoom-in">
      <p class="count">258+</p>
      <p class="text">Happy Customers</p>
    </div>
    <div class="about-work-card" data-aos="zoom-in">
      <p class="count">564+</p>
      <p class="text">Creative Idea</p>
    </div>
  </div>
</section>

<section class="testimonial-section" data-aos="fade-up">
  <span class="badge">Client Feedback</span>
  <ngb-carousel #carousel [interval]="2000" [pauseOnHover]="pauseOnHover" [pauseOnFocus]="pauseOnFocus"
    (slide)="onSlide($event)" class="carousel">
    @for (img of images; track img; let i = $index) {
    <ng-template ngbSlide>
      <div class="carousel-caption">
        <p>“Thanks so much for creating consulting that speaks to what <span>my company motto is</span> – clean, clear,
          and concise.</p>

        <div class="profile-section">
          <img src="assets/user-img.png" alt="">
          <p class="name">Caman Bhaaii</p>
          <p class="post">Web Designer</p>
        </div>
      </div>
      <a href="https://www.google.fr/?q=Number+{{ i + 1 }}" target="_blank" rel="nofollow noopener noreferrer">
        <div class="picsum-img-wrapper">
          <!-- <img [src]="img" alt="My image {{ i + 1 }} description" /> -->
        </div>
      </a>
    </ng-template>
    }
  </ngb-carousel>


  <section class="booking-section">
    <div class="left-section" data-aos="fade">
      <span class="badge">Book Now</span>
      <p class="heading">Better Consult, Better Results</p>
      <p class="description">We help global leaders with their organization's most critical issues and opportunities.
        Together, we create enduring change and results in digital format.</p>
      <button class="call-btn"><i class="fas fa-phone-alt"></i>+91 9191346477</button>
    </div>

    <div class="right-section" data-aos="fade">
      <img
        src="https://cdn.prod.website-files.com/639ab26094443c36ccff5aa8/639c1076aec4fd2801f2c6b3_Book%20Now-Image.jpg"
        class="image" alt="">
    </div>
  </section>
</section>


<section class="blog-section">
  <div class="top-section" data-aos="fade-up">
    <div class="info">
      <span class="badge">Blog</span>
      <p class="heading">Take a look at our latest articles & resources</p>
    </div>
    <button class="button">More News</button>
  </div>

  <div class="blog-group">
    <div class="blog-card" data-aos="fade-up">
      <img src="assets/discussion-img1.jpg" alt="">
      <a class="heading" href="">Essential guidelines to grow your corporate business with us</a>
      <p class="description">Capitalize on low-hanging fruit to identify a ballpark value added matrix economically
        activity to beta test override the multiple touchpoints for offshoring the digital divide with DevOps.</p>

      <div class="blog-by">
        <img src="assets/user-img1.png" alt="" class="user-img">
        <div class="info-group">
          <span class="name">Pasa Bhai</span>
          <span class="date">February 17, 2023</span>
        </div>
        <button class="view-more-btn">View More</button>
      </div>
    </div>
    <div class="blog-card" data-aos="fade-up">
      <img src="assets/discussion-img2.jpg" alt="">
      <a class="heading" href="">You’re not wasting your time by dreaming about your business</a>
      <p class="description">Strategies on low-hanging fruit to identify a ballpark value added activity matrix
        economically to beta test override multiple touchpoints for offshoring the digital divide disruptive innovation
        with main stream.</p>

      <div class="blog-by">
        <img src="assets/user-img2.png" alt="" class="user-img">
        <div class="info-group">
          <span class="name">Bhikha Bhai</span>
          <span class="date">February 17, 2023</span>
        </div>
        <button class="view-more-btn">View More</button>
      </div>
    </div>
  </div>
</section>


<section class="reach-up-section">
  <div class="left-section" data-aos="fade" data-aos-duration="1000">
    <span class="badge">Reach us</span>
    <p class="heading">Contact Us. It’s Easy.</p>
    <p class="description">To experience our extraordinary consulting service, We request you to provide the details
      below for getting in touch with you as soon.</p>

    <div class="contact-group">
      <div class="contact-card">
        <i class="fas fa-phone-alt"></i>
        <span class="info">
          <p class="title">Call Today</p>
          <p class="item">+ 91 7027462255</p>
        </span>
      </div>
      <div class="contact-card">
        <i class="far fa-clock"></i>
        <span class="info">
          <p class="title">Monday To Friday</p>
          <p class="item">9AM - 5PM</p>
        </span>
      </div>
      <div class="contact-card">
        <i class="fas fa-map-marker-alt"></i>
        <span class="info">
          <p class="title">USA Office</p>
          <p class="item">195 Devonshire St Boston, MA 02110</p>
        </span>
      </div>
    </div>
  </div>
  <div class="right-section" data-aos="fade" data-aos-duration="1000">
    <div class="input-group">
      <span class="label">Full Name</span>
      <input type="text" placeholder="kevin Luison">
    </div>
    <div class="input-group">
      <span class="label">Email</span>
      <input type="text" placeholder="kevin@gmail.com">
    </div>
    <div class="input-group">
      <span class="label">Phone</span>
      <input type="text" placeholder="+91 12304 56789">
    </div>
    <div class="input-group">
      <span class="label">Company(optional)</span>
      <input type="text" placeholder="uourcompany.com">
    </div>
    <div class="input-group col-span-2">
      <span class="label">Message</span>
      <textarea class="large-input"
        placeholder="Briefly tell us about your project and your current goals. How can we help you?"></textarea>
    </div>

    <button class="send-btn">Send Message</button>
  </div>
</section>
