// Theme
$theme-color-1: #003461;
$theme-color-2: #7ead4a;
$theme-color-3: #FFCC4A;

// Colors
$white: #FFF;
$black: #000;
$gray: #595566;
$light-gray: #f6f6f6;

// Components
$navbar: #003461d8;
$transparent-card: #ffffff9d;
$border-color: #d8d8d8;
$light-shadow: rgba(95, 95, 95, .25);
$service-card: #ebebeb;
